header{
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    
}
header div{
    flex: 1;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.lista{
    display: flex;
}
ul{
    flex: 1;
    display: flex;
    list-style-type: none;
    padding: 0px; 
    margin-right: 10px;
    text-align: center;   
}
li{
    flex: 1;
    display: inline;
    margin: 5PX;
    padding: 5px;
    justify-content: center;
}
div h1{
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
}
.logo{
    text-align: left;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(55, 53, 53);
    margin: 0px;
    padding: 0px;
}
.intro{
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.intro div{
    flex: 1;
}
.leftintro p{
    margin-left: 50px;
}
.slider{
    background-color: black;
    min-width: 350px;
    min-height: 180px;
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    
}
.slider p{
    flex: 1;
    text-align: left;
    margin-left: 50px;
    max-width: 120px;    
}